<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index.html/">Anna Vicco</a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i id="burger" class="fa-solid fa-bars"></i>
        <i id="cross" class="fa-solid fa-xmark"></i>
        
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {{ range .Site.Menus.main }}
            <li class="nav-item">
                <a class="navbar-link" href="{{ .URL }}">
                    {{ if .Pre }}
                        {{ $icon := printf "<i class=\"%s\"></i> " .Pre | safeHTML }}
                        {{ $icon }}
                    {{ end }}
                    {{ $text := print .Name | safeHTML}}
                    {{ $text }}
                </a>
            {{ end }}
          </li>
        </ul>
      </div>
    </div>
</nav>







<!-- 


                <a class="nav-link active" aria-current="page" href="">Home</a>
  <nav id="nav" class="navbar justify-content-center fixed-top">
    {{ range .Site.Menus.main }}
    <a class="navbar-link" href="{{ .URL }}">
    {{ if .Pre }}
    {{ $icon := printf "<i class=\"%s\"></i> " .Pre | safeHTML }}
    {{ $icon }}
    {{ end }}
    {{ $text := print .Name | safeHTML }}
    {{ $text }}
    </a>
    {{ end }}
</nav>

-->
